__pycache__/
checkpoints/
lightning_logs/
fhm-lxmert.log
fhm-visualbert.log
fine-lxmert.log
.ipynb_checkpoints
config.py
combined.json
configs/metric/bert_score.yaml
configs/metric/meteor_score.yaml
create_dataset.ipynb
epoch=10-step=2926.ckpt
experiments/
fhm_test.jsonl
fhm_train.jsonl
flant5-sbic-train1.log
flant5-train1.log
implied-statement-generation/
last.ckpt
main.log
t5-train1.log
test_fhm.json
logs